.display-flat-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: -3em;
  grid-gap: 2em;
}

.display-flat-main {
}

.display-flat-actions {
}

.display-flat-card {
  background-color: rgb(242, 242, 242);
  margin-bottom: 2em;
  box-shadow: 1px 1px 8px rgba(0,0,0,.15);
  box-sizing: border-box;
  padding: 1em;
}
